{% extends 'TerAelisForumBundle:Forum:layout.html.twig' %}

{% block page %}
    <h1>Calendrier</h1>

    <div class="separation">
        <a class="btn" href="{{ path('taforum_event_create', {'pole': pole_aff}) }}">
            Créer un nouvel évènement
        </a>
    </div>

    <p>
        <table class="listSujets separation">
            <thead>
                <tr>
                    <th>Nom de l'évènement</th>
                    <th>Date</th>
                    {% if is_granted('ROLE_MODO_EVENT') or is_granted('ROLE_ADMIN') %}
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% if events is empty %}
                <tr>
                    <td class="center empty" colspan="{{ (is_granted('ROLE_MODO_EVENT') or is_granted('ROLE_ADMIN')) ? 4 : 2 }}">
                        Aucun évènement à venir.
                    </td>
                </tr>
            {% else %}
            {% for event in events %}
                <tr>
                    <td>
                        <h3><a href="{{ event.url }}">
                            {% if event.priority %}
                                /!\
                            {% endif %}
                            {{ event.name }}
                        </a></h3>
                    </td>
                    <td class="center">
                        {{ event.date | localizeddate('none', 'short') }} - {{ event.date |localizeddate('medium', 'none') }}
                    </td>
                    {% if is_granted('ROLE_MODO_EVENT') or is_granted('ROLE_ADMIN') %}
                        <td class="center">
                            <a href="{{ path('taforum_event_edit', {
                                pole: pole,
                                eventId: event.id
                            }) }}">
                                Modifier
                            </a>
                        </td>
                        <td class="center">
                            <a href="{{ path('taforum_event_delete', {
                            pole: pole,
                            eventId: event.id
                            }) }}">
                                Supprimer
                            </a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </p>
{% endblock %}