{% extends 'TerAelisForumBundle:Forum:layout.html.twig' %}
{% block page %}
    <h1>Statistiques</h1>

    <h2>Acitivté globale</h2>

    <table class="listSujets">
        <thead>
        <tr>
            <th width="20%">Date</th>
            <th width="40%">Nombre de sujets</th>
            <th width="40%">Nombre de commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in poleStats.monthly %}
            <tr>
                <td>
                    {{ stat.date | localizeddate('medium','none',null,null,'LLLL Y') | capitalize}}
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_sujet }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_sujet / poleStats.global_nb_sujet }}%"></span>
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_commentaire }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_commentaire / poleStats.global_nb_commentaire }}%"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>
    <h2>Activité des pôles</h2>
    {% for pole, stats in poleStats.stats %}
        <h3>{{ pole }}</h3>
        <table class="listSujets">
            <thead>
            <tr>
                <th width="20%">Date</th>
                <th width="40%">Nombre de sujets</th>
                <th width="40%">Nombre de commentaires</th>
            </tr>
            </thead>
            <tbody>
                {% for stat in stats %}
                <tr>
                    <td>
                        {{ stat.date | localizeddate('medium','none',null,null,'LLLL Y') | capitalize}}
                    </td>
                    <td>
                        <span class="statistiques_value">{{ stat.nb_sujet }}</span>
                        <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_sujet / poleStats.nb_sujet }}%"></span>
                    </td>
                    <td>
                        <span class="statistiques_value">{{ stat.nb_commentaire }}</span>
                        <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_commentaire / poleStats.nb_commentaire }}%"></span>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}

    <hr />

    <h2>Sujets les plus actifs</h2>
    <table class="listSujets">
        <thead>
        <tr>
            <th width="40%">Titre</th>
            <th width="20%">Auteur</th>
            <th width="40%">Nombre de commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for sujet in sujetsActifs.sujets %}
            <tr>
                <td>
                    <h3><a href="{{ path('taforum_voirSujet', {
                        pole: pole_aff,
                        slug: sujet.slug
                    }) }}">
                        {{ sujet.title }}
                    </a></h3>
                </td>
                <td>
                    {{ showUsername(sujet.authors.first) }}
                </td>
                <td>
                    <span class="statistiques_value">{{ sujet.numberComment }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * sujet.numberComment / sujetsActifs.nb_commentaire_max }}%"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr />

    <h2>Les membres les plus actifs du mois</h2>
    <table class="listSujets">
        <thead>
        <tr>
            <th width="20%">Pseudo</th>
            <th width="40%">Nombre de sujets</th>
            <th width="40%">Nombre de commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in membresActifsMonthly.total %}
            <tr>
                <td>
                    {{ showUsername(stat.user) }}
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_sujet }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_sujet / membresActifsMonthly.total_sujet_max }}%"></span>
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_commentaire }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_commentaire / membresActifsMonthly.total_comment_max }}%"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr />

    <h2>Les membres les plus actifs</h2>
    <table class="listSujets">
        <thead>
        <tr>
            <th width="20%">Pseudo</th>
            <th width="40%">Nombre de sujets</th>
            <th width="40%">Nombre de commentaires</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in membresActifs.total %}
            <tr>
                <td>
                    {{ showUsername(stat.user) }}
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_sujet }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_sujet / membresActifs.total_sujet_max }}%"></span>
                </td>
                <td>
                    <span class="statistiques_value">{{ stat.nb_commentaire }}</span>
                    <span class="statistiques_bars" style="width: {{ (100 - 25) * stat.nb_commentaire / membresActifs.total_comment_max }}%"></span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}