<div class="modal js-modal js-book-modal" style="display:none;">
    <div class="modal-overlay js-modal-close"></div>
    <div class="modal-content js-modal-container book-modal-container">
        <div class="modal-content-menu">
            <ul>
                <li>
                    <button class="btn btn-img js-book-toggle-style">
                        <img src="{{ asset('bundles/teraelisforum/img/global/confort/background.png') }}" alt="Changer de fond" />
                    </button>
                </li>
                <li>
                    <button class="btn btn-img js-book-bigger-font">
                        <img src="{{ asset('bundles/teraelisforum/img/global/confort/font_more.png') }}" alt="Plus gros" />
                    </button>
                </li>
                <li>
                    <button class="btn btn-img js-book-smaller-font">
                        <img src="{{ asset('bundles/teraelisforum/img/global/confort/font_less.png') }}" alt="Plus petit" />
                    </button>
                </li>
                <li>
                    <button class="btn btn-img js-book-bigger-width">
                        <img src="{{ asset('bundles/teraelisforum/img/global/confort/width_more.png') }}" alt="Plus large" />
                    </button>
                </li>
                <li>
                    <button class="btn btn-img js-book-smaller-width">
                        <img src="{{ asset('bundles/teraelisforum/img/global/confort/width_less.png') }}" alt="Moins large" />
                    </button>
                </li>
                <li>
                    <button class="btn js-modal-close">
                        Fermer
                    </button>
                </li>
            </ul>
        </div>
        <div class="modal-content-main book-modal-content js-book-modal-content">

        </div>
    </div>
</div>