<div class="formulaire">
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
        <div class="form-field">
            <div class="form-group">
                <div class="form-label">
                    {{ form_label(form.current_password) }}
                </div>
                <div class="form-input">
                    {{ form_widget(form.current_password) }}
                </div>
                <div class="form-error">
                    {{ form_errors(form.current_password) }}
                </div>
            </div>
            {% for child in form.new %}
            <div class="form-group">
                <div class="form-label">
                    {{ form_label(child) }}
                </div>
                <div class="form-input">
                    {{ form_widget(child) }}
                </div>
                <div class="form-error">
                    {{ form_errors(child) }}
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </div>
    </form>
</div>